@use "../../base/mixins" as *;

.Tema__container {
    @include column;
    width: 90%;
    height: 95%;
    border-radius: 1rem;
    overflow: auto;
    .title {
        @include center;
        flex: 1;
        padding: 0.5rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        font-size: 2.7rem;
        text-align: center;
        &:hover {
            cursor: pointer;
            color: white;
        }
    }
    .Tema__content {
        @include full;
        @include column;
        flex: 12;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;
        h1 {
            width: 100%;
            font-size: 1.5rem;
            margin: 2rem 0 1rem 3rem;
        }
        p {
            font-size: 1.2rem;
            margin: 0 3rem 0.5rem 3rem;
            text-align: justify;
        }
        img {
            width: 30%;
            height: 15rem;
            margin: 1rem 0;
            background-color: antiquewhite;
        }
        .button {
            @include center;
            width: 20%;
            border-radius: 0.5rem;
            background-color: #2f5f84;
            color: white;
            font-size: 1.2rem;
            margin: 2rem 0 2rem 0;
            padding: 1rem;
            user-select: none;

            transition: letter-spacing 0.3s ease;
            &:hover {
                cursor: pointer;
                background-color: darken($color: #2f5f84, $amount: 5%);
                letter-spacing: 2px;
            }
            &:active {
                cursor: pointer;
                background-color: darken($color: #2f5f84, $amount: 15%);
                letter-spacing: 2px;
            }
        }
    }
}
